*{padding: 0;margin: 0;box-sizing: border-box;}
body{font-family: "Poppins", sans-serif !important;}
:root{
    --primary-color: #048ac4;
    --dark-secondary-color: #3E3E3F;
    --oxyzen-font: "Oxygen", sans-serif;
}

/* Common CSS  */
.color-primary{color: var(--primary-color);}
.primary-btn{display: flex;align-items: center;justify-content: center;padding: 14px 28px;background: var(--primary-color);color: #fff;text-decoration: none;font-size: 16px;line-height: 24px;font-weight: 500;transition: all 0.3s ease-in-out;border-radius: 4px;width: fit-content;}
.primary-btn:hover{background: var(--dark-secondary-color);color: #fff;}
.primary-btn.with-logo{gap: 0 7px;}
.section-padding{padding: 64px 0;}
.center-col{display: flex;align-items: center;}

/* Navbar Toggler CSS  */
.navbar-toggler:focus{outline:none;box-shadow:none;}
.fg-navbar button.navbar-toggler .navbar-dash{display:block;height:3px;width:30px;background:#333;margin:6px;pointer-events:none;}
.fg-navbar button.navbar-toggler .navbar-dash{transition:0.2s all;}
.nav-slide-open .fg-navbar button.navbar-toggler .navbar-dash:nth-child(2){opacity:0;}
.nav-slide-open .fg-navbar button.navbar-toggler .navbar-dash:nth-child(1){transform:rotate(45deg) translate(5px,8px);}
.nav-slide-open .fg-navbar button.navbar-toggler .navbar-dash:nth-child(3){transform:rotate(-45deg) translate(5px,-8px);}

.fg-navbar{justify-content: space-between;padding: 0;background: #fff;}
.fg-navbar .navbar-brand{padding: 15px 32px;margin: 0;background: var(--dark-secondary-color);}
.fg-navbar .brand-logo-img{width: 300px;height: auto;object-fit: contain;}
.fg-navbar .slide{display: flex;justify-content: flex-end;width: 100%;padding: 0 30px;}
.fg-navbar .navbar-nav{gap: 0 25px;}
.fg-navbar .nav-link{padding: 15px 0 !important;font-size: 16px;line-height: 24px;color: #212529;text-transform: capitalize;font-weight: 500;}
.fg-navbar .nav-link:hover{color: var(--primary-color);}

.nav-slide-open .fg-navbar .navbar-slide{display: inline-block;}

/* Hero Section  */
.main-benner-section{background: #F8F8F8;}
.main-benner-section .text-content .heading{font-family: var(--oxyzen-font);font-weight: bolder;font-size: 38px;line-height: 52px;margin-bottom: 10px;color: #000;}
.main-benner-section .text-content .subheading{font-size: 18px;line-height: 28px;font-weight: 600;color: var(--dark-secondary-color);margin-bottom: 25px;}
.main-benner-section .list-div{display: flex;flex-direction: column;gap: 10px 0;}
.main-benner-section .list-div .list-text{display: flex;gap: 0 8px;font-size: 16px;line-height: 26px;color: #000;}
.main-benner-section .list-div .list-text .icon{padding-top: 5px;color: var(--primary-color);}


@media (max-width:991px){
    .fg-navbar{border-bottom: 1px solid #E2E2E2;}
    .fg-navbar .slide{position:fixed;z-index:999;top:0;bottom:0;left:0;min-width:250px;width:250px;max-width:90%;background-color:#fff;transform:translate3d(-100%,0,0);transition:0.5s all cubic-bezier(0.165,0.84,0.44,1);border-right:1px solid transparent;overflow-y:auto;padding: 0;}
    .nav-slide-open .fg-navbar .slide{transform:translate3d(0,0,0);box-shadow:2px 0 4px 0 rgba(0,0,0,0.2);opacity: 1;}
    .fg-navbar .nav-link{padding: 15px !important;border-bottom: 1px solid #DDDDDD;font-size: 14px;line-height: 22px;}
    .fg-navbar .nav-link:nth-last-child(0){border-bottom: 0;}
    .fg-navbar .primary-btn{margin-left: 15px;margin-top: 15px;}
}
@media (max-width:576px) {
    .fg-navbar .navbar-brand{padding: 15px;}
    .fg-navbar .brand-logo-img{width: 175px;}
}

